.App {
  text-align: center;
  margin-right: 150px;
  margin-left: 150px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px; 
  color: #414347c0;
  border: 2px solid black; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


input{
  padding: 8px;
  margin-right: 10px;
  border-color:rgba(175, 170, 170, 0.185);
  
  border-radius: 8px;
}

button{
  padding: 7px;
  border-radius: 8px;
  border-color:rgba(175, 170, 170, 0.185);

}



.person-card {
  border: 1px solid #282c34;
  margin: 30px;
  padding: 20px;
}
.person-card h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(204, 203, 203, 0.459); 
}

.car-info {
  padding-left: 30px;
  text-align: left;
  background-color: #f0f0f073;
  border: 1px solid rgba(195, 191, 191, 0.671);
}
.car-card{
  border: 1px solid rgba(195, 191, 191, 0.671);
  padding: 10px;

}

.link-card{
  padding-top: 10px;
  padding-bottom:25px;
  text-align: left;
  border-bottom: 1px solid rgba(195, 191, 191, 0.671);
}

h3{
  padding-top: 10px;
  padding-bottom:25px;
  text-align: left;
}
h2{
  color: #282c34d8;
  text-align: center;
  position: relative; 
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(195, 191, 191, 0.671);
}
h1{
  color: #282c34d8;
  font-size: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(195, 191, 191, 0.671);
}
.back-button{
  display: block;
  margin: 0 auto;
  margin-top: 10px;

}